h2 { 
  color: gold;
}

h4  { 
  color: gold;
}

.orange-group  { 
  color: silver;
}

.blue-group { 
  color: pink;
}

.lightblue  { 
  color: brown;
}

.blue  { 
  color: orange;
 }

 .darkblue  {
  color: darkgray;
  }