.blue-group { 
  color: blue;
}

.image {
	width: 300px; height: 300px;
	margin-right: 25px;
	margin-left: 25px;
}

.one {
  text-align: center;	
}

.two { 
  text-align: center;
}


.three {
	float:left;
}

.four {
	margin-right: 25px;
	margin-left: 25px;
}

.five {
  text-align: center;
  clear: both;
}

